{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>
    #over:hover {
        background-color: rgba(110, 110, 110, 0.616);
        font-weight: bold;
    }

    .image-upload>input {
        display: none;
    }

    /* Style for the modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        /* Set a high z-index to bring the modal to the front */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Semi-transparent background */
    }

    .modal-content {
        background-color: #fefefe;
        /* Opaque background for the content */
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: #000;
    }

    /* Style for the text area */
    textarea {
        width: 100%;
        resize: vertical;
        margin-bottom: 10px;
    }



    .searchbar,
    .overview .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        /* margin: 0 1rem; */
    }

    .searchbar .right .btn {
        background-color: rgb(243, 188, 9);
    }

    .searchbar .btn:hover {
        background-color: rgba(219, 170, 7, 0.493);
    }

    .modal .table th {
        color: #ffffff;
    }

    .modal-content {
        padding: 1.5rem;
        width: 50vw;
        height: auto !important;
        margin: auto;
    }
</style>


<div class="row  p-3">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="header pb-4">
            <h5>ALL PROJECTS</h5>
        </div>
        <div class="searchbar pb-1">

            <input class="form-control mx-1" type="text" placeholder="Search Project" name="search" id="search"
                onkeyup="searchFunction()">

            <a class="btn btn-outline-primary mr-1" href="{% url 'payroll_create' %}"><i class="fa fa-sort"></i></a>

            <a class="btn btn-outline-primary mx-1" href="" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" role="button">
                <i class="fa fa-filter"></i>
            </a>
            <div class="dropdown-menu ">
                <a class="dropdown-item" href="javascript:sortTable(0)">Name A-Z</a>
                <a class="dropdown-item" href="javascript:rsortTable(0)">Name Z-A</a>
            </div>
            <a class="btn btn-outline-primary" href="{% url 'payroll_create' %}"><i class="fa fa-plus"></i></a>
        </div>
        <hr>
        <div style="height:60vh;overflow-y: scroll;overflow-x: hidden; ">
            <table class="table  text-white" id="myTable">

                <tbody>
                    {% for v in proje %}
                    <tr id="over" class='clickable-row' data-href="{% url 'overview' v.id %}">
                        <td><a id="aover" style="color: rgb(230, 171, 45);">{{v.name}}</a></td>
                        <td><a id="aover" style="color: rgb(230, 171, 45);">
                            {% if v.billing == "Fixed cost for project" or v.billing == "Based on project hours" %}
                                {{v.rateperhour}}
                                {% else %}
                                Per hour
                                {% endif %}
                            </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8" style="background-color: #11111196;">
        
        <div class="row mx-1">
            <div class="header pb-1 pt-3">
                <h3 style="text-transform: uppercase;">{{ project.name }}</h3>
            </div>
            <div class="searchbar pb-4">
                <div class="left">
                    <button style="background-color: rgb(243, 188, 9);color: white;"
                        class="btn">Overview</button>
                    <button class="btn btn-light text-warning">Template</button>
                    <!-- <a class="btn mx-1" href="#home">Overview</a> -->
                </div>
                <div class="right align-items-end">
                    <a class="btn " href="{% url 'editproj' project.id %}" data-toggle="tooltip" title="Edit"><i
                            class="fas fa-edit"></i></a>
                    <a class="btn" href="{% url 'delproj' project.id %}" data-toggle="tooltip" title="Delete"><i
                            class="fas fa-trash"></i></a>
                            <a class="btn" href="" data-toggle="modal" data-target="#commentModal"
                            data-toggle="tooltip" title="comment"><i class="far fa-comment"></i></a>
                    <label for="file-input" class="btn ml-1 border-0" data-toggle="tooltip" title="Upload Attachments">
                        <i class="fas fa-paperclip"></i>
                    </label>
                    <input id="file-input" type="file" name="file" style="display:none;" onchange="uploadFile()">
                </div>
            </div>
            <hr>
        </div>
        <div>
            <div class="searchbar pt-2 pb-4">
                <div></div>
                <div class="align-items-end right" style="font-size: 1rem;">Start Date: {{project.start}} <br>End Date: {{p.end}}</div>
            </div>
        </div>
        
       
        <!-- modal -->
        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #3b3b3b;">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add Comments</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <textarea type="text" class="form-control text-dark" name="comments"></textarea>
                        <div class="container-fluid">

                            <table class="table  mt-4">
                                <thead>
                                    <tr>
                                        <th>sl no.</th>
                                        <th>Comments</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in com %}
                                    <tr class="table-row">
                                        <td>{{forloop.counter }}</td>
                                        <td>{{c.comment}}</td>
                                        <td><a class="text-danger"
                                                href="{% url 'delete_payrollcomment' c.id  %}">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- modal end -->
    </div>
</div>

<!-- Modal -->
<!-- <div id="commentModal" class="modal">
    <div class="modal-content bg-dark">
        <span class="close" onclick="closeModal()">&times;</span>

        <form method="post" action="{% url 'projcommentdb' project.id %}">
            {% csrf_token %}
            <textarea id="commentTextArea" name="comment" rows="8" placeholder="Enter your comment..."
                class="form-control bg-dark" style="height: 200px;width: 100%;"></textarea>
            <textarea id="hiddenComments" style="display: none;">{{ project.comment }}</textarea>

            <button type="submit" class="btn btn-warning">Save</button>
            <button type="button" class="btn btn-warning mt-1" onclick="viewComment()">View</button>
            <button type="button" class="btn btn-warning mt-1" onclick="clearTextArea()">Clear</button>
        </form>
    </div>
</div> -->
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if the cookie name matches the CSRF cookie name
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function uploadFile() {
        const fileInput = document.getElementById("file-input");
        console.log("entered======================");
        const file = fileInput.files[0];
        const csrfToken = getCookie('csrftoken')

        const formData = new FormData();
        formData.append("file", file);
        console.log("entered======================");

        fetch("/project_file/{{project.id}}", {
            method: "POST",
            headers: { 'X-CSRFToken': csrfToken },
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server (if needed)
                console.log(data);
            })
            .catch(error => {
                console.error("Error:", error);
            });
    }

</script>
<script>
    // ... Your existing JavaScript code ...

    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });

    });

    
</script>








{% endblock %}